<%- include('../partials/head') -%> 

<%- include('../partials/header-nav') -%> 

    <div class="general-landing">
        <div class="max-width-container">
        <h1 class="max-width" class="heading-break-index">Update Provider Information:<br><%= Provider.name %></h1>   
        </div>
    </div>

    <form class="update-form" action="/admin/update/<%=Provider._id%>?_method=put" method="POST">
    

        <div class="question update-question">
            <label for="name_update" class="text1">Provider's name:</label>
            <input type="text" id="name_update" name="name_update" value="<%= Provider.name %>">
        </div>

        <div class="question update-question">
            <label for="pronouns_update" class="text1">Provider's pronouns:</label>
            <input type="text" id="pronouns_update" name="name_update" value="<%= Provider.pronouns %>">
        </div>

        <div class="question update-question">
            <label for="practice_update" class="text1">Institution / Private Practice Name:</label>
            <input type="text" id="practice_update" name="practice_update" value="<%= Provider.practice %>">
        </div>

        <div class="question update-question">
            <label for="provider_type_update" class="text1">What kind of mental health provider are they?</label>
            <input type="text" id="provider_type_update" name="provider_type_update" value="<%= Provider.providerType %>">
        </div>

        <div class="question update-question">
            <p class="text1">Does this provider offer teletherapy?</p>

            <div class="radio-yn-div">
                <input type="radio" id="teletherapy_yes_update" name="teletherapy_update" value="yes">
                <input type="radio" id="teletherapy_no_update" name="teletherapy_update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="teletherapy_yes_update">Yes</label>
                <label for="teletherapy_no_update">No</label>
            </div>
        </div>

        <div class="question update-question">

            <label for="license-state_update" class="text1">Where does this provider practice / Where is this provider licensed?</label>

            <!-- do auto dropdown instead? -->
            <br><br>
            <input type="checkbox" id="ma-check_update" name="ma-check_update" value="ma-check_update">
            <label for="ma-check_update"> Massachusetts</label><br>

            <input type="checkbox" id="ri-check_update" name="ri-check_update" value="ri-check_update">
            <label for="ri-check_update"> Rhode Island</label><br>

            <input type="checkbox" id="nh-check_update" name="nh-check_update" value="nh-check_update">
            <label for="nh-check_update">New Hampshire</label><br>

            <input type="checkbox" id="ct-check_update" name="ct-check_update" value="ct-check_update">
            <label for="ct-check_update">Connecticut</label><br>

            <input type="checkbox" id="ny-check_update" name="ny-check_update" value="ny-check_update">
            <label for="ny-check_update"> New York</label><br>

            <input type="checkbox" id="somewhere-else-check_update" name="somewhere-else-check_update" value="somewhere-else-check_update">
            <label for="somewhere-else-check_update">Somewhere else</label><br><br>

            
            <label for="therapist-location" class="text1">Location/Neighborhood:</label>
            <input type="text" id="location_update" name="location_update" value="<%= Provider.location %>">

        </div>

        <div class="question update-question">
            <label class="text1">Does this therapist provide couples_update therapy?</label>
            <div class="radio-yn-div">
                <input type="radio" id="couples_yes_update" name="couples_update" value="yes">
                <input type="radio" id="couples_no_update" name="couples_update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="couples_yes_update">Yes</label>
                <label for="couplesno_update">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label class="text1">Does this therapist serve youth? </label>
            <div class="radio-yn-div">
                <input type="radio" id="youth-yes_update" name="youth_update" value="yes">
                <input type="radio" id="youth-no_update" name="youth_update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="youth-yes_update">Yes</label>
                <label for="youth-no_update">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="website_update" class="text1">Website:</label>
            <input type="text" id="website_update" name="website_update" value="<%= Provider.website %>">
        </div>

        <div class="question update-question">
            <label for="contact_update" class="text1">Therapist's contact info:</label>
            <input type="text" id="contact_update" name="contact_update" value="<%= Provider.contact %>">
        </div>
        
        
        <div class="question update-question">
            <label class="text1">Does this therapist accept insurance?</label>
            <div class="radio-yn-div">
                <input type="radio" id="update-insurance-yes" name="insurance_yn_update" value="yes">
                <input type="radio" id="update-insurance-no" name="insurance_yn_update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="update-insurance-yes">Yes</label>
                <label for="update-insurance-no">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="which_insurance_update" class="text1">Which insurance(s) do they accept?</label>
            <textarea id="which_insurance_update" name="which_insurance_update" class="center-me" rows="6" cols="50" value="<%= Provider.whichInsurance %>">
            </textarea>
        </div>

<!-- fix -->
        <div class="question update-question">
            <label class="text1">Accepts Masshealth?</label>
            <div class="radio-yn-div">
                <input type="radio" id="masshealth_yes_update" name="masshealth_yn_update" value="yes">
                <input type="radio" id="masshealth_no_update" name="masshealth_yn_update" value="no">
            </div>
            <div class=radio-yn-label-div>
                <label for="masshealth_yes_update">Yes</label>
                <label for="masshealth_no_update">No</label>
            </div>
        </div>

        <div class="question update-question">
            <label for="cost_update" class="text1">Cost per session without insurance:</label>
            <input type="text" id="cost_update" name="cost_update" value="<%= Provider.cost %>">
        </div>

        <div class="question update-question">
            <label for="access_update" class="text1">Accessibility info:</label>
            <textarea id="access_update" name="access_update" class="center-me" rows="6" cols="50" value="<%= Provider.accessibility %>">
            </textarea>
        </div>

        <!-- add other comments to update -->

        <div class="question update-question">

                <label for="comments_update" class="text1">Client Comments:</label>
                <textarea id="comments_update" name="comments_update" class="center-me" rows="8" cols="50" value="<%= Provider.comments %>">
                </textarea> 

        </div>

        <div class="question update-question">

            <label for="admin_comments_update" class="text1">Admin Comments:</label>
            <textarea id="admin_comments_update" name="admin_comments_update" class="center-me" rows="8" cols="50" value="<%= Provider.commentsAdmin %>">
            </textarea> 

        </div>

        
        <div class="button-align">
            <input type="submit" value="Submit" id="update-provider-submit" class="add-provider-submit" onclick="">
        </div>


    </form>

    <div class="center-me" id="update-delete-div">

        <form action="/admin/<EJS-id-here>?_method=delete" method="POST">
            <input type="submit" id="update-delete-button" name="delete" value="Delete">
        </form>
     
    </div>

    <div class="spacer1"></div>
        
    <%- include('../partials/footer') -%> 